h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
td,
th,
label,
div,
input {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-style: normal;
	font-variant: normal;
}

h1 {
	font-size: 50px;
}

.black-border {
	border-radius: 0%;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.table {
	border: 2px solid #000000;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
	border: 2px solid #000000;
}

.blue-background {
	background-color: #80cbc4;
}

.white-background {
	background-color: white;
}

.red-text {
	color: red;
}

body {
	background-image: url("https://lh3.googleusercontent.com/b0z5pHmSMGUWZsC0EJbF7eaWlY_F-iHcsU_j93kWvGihaqTPMXCqvXH9rJAA5SibIkUXTMBZQJ4pqzkeN_gWt_Uj_47NwY5mihW6NRXW-14Eg9yVAZ1AUzF2wZcv5Kcf5vWKfRC0=w2400");
}

.class1 {
	float: left;
	margin: 10px;
	background: #b2dfdb;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.class2 {
	float: left;
	margin: 10px;
	background: #f8bbd0;
	width: 100px;
	height: 100px;
	cursor: pointer;
}
